include LICENSE
include README.md

recursive-include location_field/static *
recursive-include location_field/contrib *.py
recursive-include location_field/forms *.py
recursive-include location_field/models *.py
recursive-include location_field/templates *.html
recursive-include location_field/ *.py
