name: Build

on:
  push:
    branches:
      - master
    tags:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - uses: pre-commit/action@v3.0.0

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.9", "3.10", "3.11"]
        toxenv: ["dj22", "dj32"]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox and any other packages
        run: pip install tox
      - name: Run tox
        run: tox -e ${{ matrix.toxenv }}

  test-spatial:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.9", "3.10", "3.11"]
        toxenv: ["dj22", "dj32"]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Update apt
        run: sudo apt-get update
      - name: Install gdal
        run: sudo apt-get install -y libgdal-dev libsqlite3-mod-spatialite
      - name: Install tox and any other packages
        run: pip install tox
      - name: Run tox
        run: tox -e ${{ matrix.toxenv }} -- --test-spatial

  test-Python2:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["2.7"]
        toxenv: ["py27"]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox and any other packages
        run: pip install tox
      - name: Run tox
        run: tox -e ${{ matrix.toxenv }}

  test-spatial-Python2:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["2.7"]
        toxenv: ["py27"]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Update apt
        run: sudo apt-get update
      - name: Install gdal
        run: sudo apt-get install -y libgdal-dev libsqlite3-mod-spatialite
      - name: Install tox and any other packages
        run: pip install tox
      - name: Run tox
        run: tox -e ${{ matrix.toxenv }} -- --test-spatial

  publish:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    needs:
      - pre-commit
      - test
      - test-spatial
      - test-Python2
      - test-spatial-Python2
    runs-on: ubuntu-latest
    steps:
      - name: Install twine
        run: pip install twine
      - name: Build package
        run: ./scripts/build-package.sh
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
